sanic
natsort
fastapi
PYJWT
uvicorn
nltk
future
aiotask-context
Cython
webdriver_manager
tqdm
easydict
librosa==0.6.3
Keras-Preprocessing==1.1.2
absl-py==0.10.0
h5py
numba==0.48.0
numpy==1.16.0
Pillow==7.2.0
PyYAML==5.3.1
SoundFile==0.10.2
tensorboardX==2.1
tensorflow==2.3.0
